<%- await render("include/menu.ejs") %>

<% const _sections = await sections(); %>

<div class="app">

	<div class="section">

		<h1>Sections</h1>

		<div class="sections">

			<% for (section of _sections) { %>

				<a href="#/section/<%- slugify(section) %>" class="panel">

					<h2><%- section %></h2>

				</a>
	
			<% } %>

		</div>

	</div>

</div>

<%- await render("include/footer.ejs") %>
