<div class="menu">

	<img src="/img/logo_wordmark_blk.svg" alt="Private Suite Wordmark Logo">

	<div class="items right vmiddle_bottom">
		
		<a href="#/">Home</a>
		<a href="#/about">About</a>
		<a href="#/sections">Sections</a>
		<a href="#/issues">Issues</a>
		<a href="#/contact">Contact</a>

	</div>

	<div class="opener right vmiddle_bottom" onclick="this.parentElement.classList.toggle('shown')">&#9776;</div>

</div>
