<div class="menu">

	<img src="/img/logo_wordmark.svg" alt="Private Suite Wordmark Logo">

	<div class="items right vmiddle_bottom">
		
		<a href="#/">Home</a>
		<a href="#/about">About</a>
		<a>Sections</a>
		<a>Archive</a>
		<a>Contact</a>

	</div>

</div>
